extends layout

block content
    form(name="picture", action="/images", method="post", enctype="multipart/form-data")
        input(type="file", name="file", id="file")
        input(type="submit", value="Upload")